# Logs
logs
*.log
npm-debug.log*
yarn-error.log
.nyc_output

# Dependency directory
node_modules

test/spam.test.ts
out/test/spam.test.js
out/test/spam.test.js.map
typings/test/spam.d.ts
typings/test/spam.test.d.ts
